.post-container {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60vh;
  background: rgba(87, 12, 12, 0.212);
  padding: 10px;
  border-radius: 5px;
  // box-shadow: 5px 5px 10px #5d00674f;
  // box-shadow: 5px 5px 10px rgba(87, 12, 12, 0.212);
  .grid-title {
    .grid-items {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);

      .grid {
        margin: 10px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
      }
      // .grid1 {
      //   color: white;
      // }
      // .grid2 {
      //   color: white;
      // }
      // .grid3 {
      // }
      // .grid4 {
      //   color: white;
      // }
      // .grid5 {
      //   color: white;
      // }
      // .grid6 {
      //   color: white;
      // }
      .grid7 {
        grid-column: 3;
        grid-row: 1 / 5;
        cursor: default;
      }
    }
  }
}
