* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(90deg, #5c0067 0%, #00d4ff 100%);
  cursor: default;
  // overflow: hidden;
  display: flex;
}

.nav {
  background: #4e1f7d;
  width: 200px;
  // height: 100vh;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.856);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.349);

  .title {
    background: hsl(270, 60%, 26%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    font-size: 32px;
    width: 100%;
    text-shadow: 2px 2px rgb(56, 56, 56);
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.75);
  }
  .menu {
    height: 80vh;
    width: 100%;
    ul {
      list-style: none;
      li {
        font-size: 24px;
        cursor: pointer;
        border-bottom: 2px solid black;
        // border-bottom: 2px solid #fff;
        padding: 20px;
        text-align: center;
        a {
          text-decoration: none;
          // color: #5c0067;
          color: #fff;
          &:hover {
            color: #8e009e;
          }
        }
      }
    }
  }
}

.grid-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
  background: rgba(87, 12, 12, 0.212);
  border-radius: 5px;
  .grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    grid-gap: 20px;
    padding: 20px;
    .grid-item {
      background: #fff;
      display: flex;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: black;
        li {
          list-style: none;
          min-height: 200px;
          max-height: 500px;
          img {
            width: 100%;
            height: 100px;
            filter: invert(1);
            object-fit: cover;
            border-bottom: 2px solid white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          .grid-info {
            padding: 10px;
            p {
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background: #0fb2e7;
  border-left: 1px solid rgba(0, 0, 0, 0.856);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.349);
  .sidebar-menu {
    ul {
      list-style: none;
      li {
        font-size: 24px;
        cursor: pointer;
        border-bottom: 2px solid black;
        padding: 20px;
        text-align: center;
        a {
          text-decoration: none;
          color: #fff;
          &:hover {
            color: #8e009e;
          }
        }
      }
    }
  }
}
