* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  // background: rgb(243, 243, 243);
  // background: rgb(165, 81, 81);
  // background-image: radial-gradient(circle, #5c0067 20%, rgb(165, 81, 81) 100%);
  background-image: linear-gradient(90deg, #5c0067 0%, #00d4ff 100%);
  cursor: default;
  overflow: hidden;
}

.nav {
  background: #fff;
  width: 260px;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.856);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.349);

  .title {
    // background: firebrick;
    // background: rgb(165, 81, 81);
    // background: rgba(100, 14, 14, 0.808);
    background: #5c0067;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    font-size: 32px;
    width: 100%;
    text-shadow: 2px 2px rgb(56, 56, 56);
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.75);
  }
  .menu {
    height: 80vh;
    width: 100%;
    ul {
      list-style: none;
      li {
        font-size: 24px;
        cursor: pointer;
        border-bottom: 2px solid black;
        padding: 20px;
        text-align: center;
        a {
          text-decoration: none;
          color: #5c0067;
          &:hover {
            color: #8e009e;
            // color: yellow;
          }
        }
      }
    }
  }
}

.grid-container {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90vh;
  background: rgba(87, 12, 12, 0.212);
  padding: 10px;
  border-radius: 5px;
  // box-shadow: 5px 5px 10px #5d00674f;
  // box-shadow: 5px 5px 10px rgba(87, 12, 12, 0.212);
  .grid-items {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .grid {
      margin: 10px;
      background: #fff;
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
      a {
        text-decoration: none;
        color: black;
        // &::after {
        //   position: absolute;
        //   background: blue;
        //   top: 0;
        //   right: 0;
        //   bottom: 0;
        //   left: 0;
        // }
        li {
          list-style: none;

          img {
            width: 100%;
            filter: invert(1);
            object-fit: cover;
            border-bottom: 2px solid white;
          }
          .info {
            padding: 20px;
            // h2 {
            // }
            p {
              padding: 10px 0;
            }
          }
        }
      }
    }
    // .grid1 {
    //   color: white;
    // }
    // .grid2 {
    //   color: white;
    // }
    // .grid3 {
    // }
    // .grid4 {
    //   color: white;
    // }
    // .grid5 {
    //   color: white;
    // }
    // .grid6 {
    //   color: white;
    // }
    .grid7 {
      grid-column: 3;
      grid-row: 1 / 5;
      cursor: default;
    }
  }
}
